<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model PI</title>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <link rel="stylesheet" href="static/welcome.css">
  </head>
  <body>
    <div class='glass'>
      <button class = 'Sport' id = 'Sport'>SPORT</button>
      <button class = 'Normal' id = 'Normal'>CITY</button>
      <button class = 'Eco' id = 'Eco'>ECO</button>
      <button class = 'cruise' id = 'Cruise'>ADAS</button>
      <button class = 'N' id = 'Park'>N</button>
      <button class = 'D' id = 'Drive'>D</button>
      <button class = 'R' id = 'Reverse'>R</button>
      <button class = 'Horn'>HONK</button>
      <button class = 'light'>LIGHTS</button>
      <label class = 'Title'>WELCOME TO MODEL PI INTERFACE</label>
      
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="static/welcome.js"></script>
  </body>
</html>
